<%- include("partials/header") -%>

<div class="container content">
  <div class="container content">

    <h1>Compose</h1>

    <form class="" action="/compose" method="post">

      <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="spacing form-control" name="postTitle" placeholder="Title of your post">
      </div>

      <select class="form-select c-select" name="selector" aria-label="Default select example">
        <option selected>Choose Category</option>
        <option name="Projects">Projects</option>
        <option name="Technology">Technology</option>
        <option name="Travel">Travel</option>
      </select>

      <div class="mb-3">
        <label class="form-label">Description</label>
        <input placeholder="Give your article a brief description." type="text" class="form-control" name="description">
      </div>

      <div class="mb-3">
        <label class="form-label">Image URL</label>
        <input placeholder="Please add 600x280(aprox) image URL for better view." type="text" class="form-control" name="postImage">
      </div>

      <div class="mb-3">
        <label class="form-label">Monetization</label>
        <div id="Wraping">
          <input class="spacing form-control" placeholder="Enter product URL_1" type="text" name="products[]">
        </div>
        <button id="btn-add" class="c-button btn " type="button" name="add">Add</button>
        <button id="btn-remove" class="c-button btn " type="button" name="remove">Remove</button>
      </div>

      <div class="mb-3">
        <label class="form-label">Project Video</label>
        <input placeholder="Link for Youtube video" type="text" class="form-control" name="project">
      </div>

      <div class="mb-3">
        <label>Post</label>
        <textarea class="editor1" id="editor1" rows="10" cols="80" name="postBody"></textarea>
      </div>

      <button id="composeSubmit" type="submit" class="c-button compose-btn btn">Publish</button>
    </form>

  </div>

  <%- include("partials/footer") -%>
